<!-- Button trigger modal -->
<button type="button" class="btn btn-warning btn-circle btn-sm" data-toggle="modal"
  data-target="#editModal<%= bank.id %>">
  <i class="fas fa-edit"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="editModal<%= bank.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="editModalLabel<%= bank.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel<%= bank.id %>">Edit Bank</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/admin/banks/<%= bank.id %>?_method=PATCH&_csrf=<%= csrfToken %>" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="bank-name">Bank Name</label>
            <input type="text" class="form-control" id="bank-name" name="bankName" placeholder="Enter bank name"
              required value="<%= bank.name %>">
          </div>
          <div class="form-group">
            <label for="bank-logo">Bank Logo</label>
            <input type="file" class="form-control-file" id="bank-logo" name="bankLogo">
          </div>
          <div class="form-group">
            <label for="account-number">Account Number</label>
            <input type="text" class="form-control" id="account-number" name="accountNumbers"
              placeholder="Enter account number" required value="<%= bank.accountNumbers %>">
          </div>
          <div class="form-group">
            <label for="account-holder-name">Account Holder Name</label>
            <input type="text" class="form-control" id="account-holder-name" name="accountHolderName"
              placeholder="Enter holder name" required value="<%= bank.accountHolderName %>">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>