<!-- DataTales Example -->
<div class="card shadow mb-4 mt-2">
  <div class="card-body row">
    <form class="col-md-5" method="post" action="/admin/properties/<%= property.id %>/features?_csrf=<%= csrfToken %>"
      enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity" required
          min="0">
      </div>
      <div class="form-group">
        <label for="icon">Icon</label>
        <input type="file" class="form-control-file" id="icon" name="icon" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-4">Add Feature</button>
    </form>
    <div class="col-md-7 table-responsive">
      <table class="table table-bordered" id="<%= tableId %>" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Icon</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% property.features.forEach((feature, i) => { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= feature.name %></td>
            <td><%= feature.quantity %></td>
            <td><img src="<%= feature.iconUrl %>" alt="<%= feature.name %>" width="38" class="img-thumbnail"></td>
            <td>
              <%- include("./edit.modal-button.ejs", {feature}) %>
              <form method="post"
                action="/admin/properties/<%= property.id %>/features/<%= feature.id %>?_method=DELETE"
                class="d-inline">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" type="button" class="btn btn-danger btn-circle btn-sm">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>