<%- include('../../../partials/header.ejs') %>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include("../../../partials/sidebar.ejs") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include("../../../partials/navbar.ejs") %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <%- include('../../../partials/alert.ejs') %>

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800"><%= pageTitle %></h1>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="images-tab" data-toggle="tab" href="#images" role="tab"
                aria-controls="images" aria-selected="true">
                Edit Form
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active py-2" id="images" role="tabpanel" aria-labelledby="images-tab">
              <% if (_.isObject(property)) { %>
              <form method="post" action="/admin/properties/<%= property.id %>?_method=PATCH&_csrf=<%= csrfToken %>"
                enctype="multipart/form-data">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required
                    value="<%= property.title %>">
                </div>
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" min="0"
                    step="0.01" required value="<%= property.price %>">
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" name="city" placeholder="Enter city" required
                    value="<%= property.city %>">
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" id="country" name="country" placeholder="Enter country"
                    required value="<%= property.country %>">
                </div>
                <div class="form-group">
                  <label for="categoryId">Category</label>
                  <select class="custom-select" name="categoryId" required>
                    <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= property.category.equals(category.id) ? "selected" : '' %>>
                      <%= category.name %>
                    </option>
                    <% }) %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="images">Images</label>
                  <input type="file" class="form-control-file" id="images" name="images" multiple>
                </div>
                <div class="form-group">
                  <label for="title">Description</label>
                  <textarea class="form-control" id="description" name="description"
                    placeholder="Enter description"><%= property.description %> </textarea>
                </div>
                <div class="d-flex justify-content-between my-4">
                  <a href="/admin/properties" class="btn btn-light">
                    <i class="fas fa-arrow-left"></i> <span class="ml-1">Back</span>
                  </a>
                  <button type="submit" class="btn btn-primary">Edit</button>
                </div>
              </form>
              <% } %>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%- include('../../../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
</body>

<%- include('../../../partials/scripts/ckeditor.ejs') %>
<%- include("../../../partials/utilities.ejs") %>
<%- include("../../../partials/scripts/common.ejs") %>