<!-- Button trigger modal -->
<button type="button" class="btn btn-warning btn-circle btn-sm" data-toggle="modal"
  data-target="#editModal<%= activity.id %>">
  <i class="fas fa-edit"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="editModal<%= activity.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="editModalLabel<%= activity.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel<%= activity.id %>">Edit Activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post"
        action="/admin/properties/<%= property.id %>/activities/<%= activity.id %>?_method=PATCH&_csrf=<%= csrfToken %>"
        enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required
              value="<%= activity.name %>">
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <input type="text" class="form-control" id="type" name="type" placeholder="Enter type" required
              value="<%= activity.type %>">
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control-file" id="image" name="image">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>