<!-- Button trigger modal -->
<button type="button" class="btn btn-warning btn-circle btn-sm" data-toggle="modal"
  data-target="#editModal<%= category.id %>">
  <i class="fas fa-edit"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="editModal<%= category.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="editModalLabel<%= category.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel<%= category.id %>">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/admin/categories/<%= category.id %>?_method=PATCH">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter category name" required
              value="<%= category.name %>">
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>