<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <%- include("./add.modal-button.ejs") %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No.</th>
            <th>Bank Name</th>
            <th>Logo</th>
            <th>Account Number</th>
            <th>Account Holder</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% banks.forEach((bank, i) => { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= bank.name %></td>
            <td><img src="<%= bank.logoUrl %>" alt="<%= bank.name %>" width="70" class="img-thumbnail"></td>
            <td><%= bank.accountNumbers %></td>
            <td><%= bank.accountHolderName %></td>
            <td>
              <%- include("./edit.modal-button.ejs", {bank}) %>
              <form method="post" action="/admin/banks/<%= bank.id %>?_method=DELETE" class="d-inline">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" type="button" class="btn btn-danger btn-circle btn-sm">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>