<%- include('../../partials/header.ejs') %>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include("../../partials/sidebar.ejs") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include("../../partials/navbar.ejs") %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <%- include('../../partials/alert.ejs') %>

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>

          <div class="row">

            <!-- Number of Members -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Members
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><%= numMembers %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Number of Bookings -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Bookings
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><%= numBookings %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-gem fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Number of Properties -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        Properties
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><%= numProperties %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-hotel fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%- include('../../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
</body>

<%- include("../../partials/utilities.ejs") %>
<%- include("../../partials/scripts/common.ejs") %>